*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    overflow: hidden;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#Snake{
    padding-left:20px;
    padding-top:8px;
    margin-left:30px;
    font-size: 60px;
    margin-top:30px;
    border: 4px solid black;
    background-color: rgb(210, 238, 107);
    height:100px;
    width:400px;
}
#board{
    
    background: linear-gradient(rgb(167, 238, 167), rgb(236, 236, 156));
    margin-left:450px;
    margin-top:-90px;
    width:90vmin;
    height:92vmin;
    border:4px solid black;
    display:grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns:repeat(18, 1fr) ;
}
#ScoreBox{
    position:absolute;
    top:9px;
    right:200px;
    font-size: 39px;
    font-weight: bold;
    border: 2px solid black;
    background-color: rgb(210, 238, 107);
    padding:5px 10px;
}

.head{
    background-color:rgb(123, 64, 64);
    border:1px solid black;
    border-radius:12px;
}
.snake{
    background-color: rgb(224, 104, 196) ;
    /* border: .25vmin solid white; */
    border-radius: 22px;
}

.food{
    background-color: rgb(212, 34, 18);
    border-radius: 7px;
}